# Produção / Vercel
VITE_API_BASE_URL=https://emanuelangelo1992.pythonanywhere.com/api
VITE_WS_BASE_URL=wss://emanuelangelo1992.pythonanywhere.com

# Local, se for rodar na sua máquina:
# VITE_API_BASE_URL=http://127.0.0.1:8000/api
# VITE_WS_BASE_URL=ws://127.0.0.1:8000
