SECRET_KEY=dev-only-msn-reborn-secret-key
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost

CORS_ALLOWED_ORIGINS=http://127.0.0.1:5173
CSRF_TRUSTED_ORIGINS=http://127.0.0.1:5173
FRONTEND_URL=http://127.0.0.1:5173

SPOTIFY_CLIENT_ID=328702d87aa64d248bdaeb94fe2dd36a
SPOTIFY_CLIENT_SECRET=COLE_AQUI_SEU_CLIENT_SECRET_ATUAL
SPOTIFY_REDIRECT_URI=http://127.0.0.1:8000/api/spotify/callback/
